body {
  background-color: black;
  color: #57f454;
  display: flex;
    align-items: center;
    justify-content: center;
  font-family: 'Share Tech Mono', monospace;
}

main {
  width: 800px;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
  line-height: 28px;
}

a {
  color: #00bbff;
}

#georover canvas {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
